<link rel="stylesheet" href="/css/card.css">
<div class="container">
    <div class="wrapper">
      <div class="image-wrapper">

        <img class="banner-image" src="<%=video.image.url%>"/>
      </div>
      <div class="content">  
      <h1><%=video.title%></h1>
        <div class="button-wrapper"> 
     <a href="<%=videoUrl%>" class="btn outline" target="_blank">WATCH</a>
       <a href="<%=mp3%>" class="btn fill">Download</a>
     </div>
      </div>
     </div>
     
       </div>
   </div>