<link rel="stylesheet" href="/css/searchbox.css">
<form class="form-wrapper cf" method="POST" action="/youtube/mp3">
    <input type="text" placeholder="Music Name.." name="musicName" required>
    <button type="submit">Download</button>
</form>
