<link rel="stylesheet" href="/css/searchbox.css">
<form class="form-wrapper cf" method="POST" action="/">
    <input type="text" placeholder="Music Name..." name="musicName" value="<%=oldInput?oldInput.musicName:""%>"required>
    <button type="submit">Download</button>
</form>
