<link rel="stylesheet" href="/css/searchbox.css">
<form class="form-wrapper cf" method="POST" action="/">
    <input type="text" placeholder="Describe your feelings..." name="description" value="<%=oldInput?oldInput.description:""%>"required>
    <button type="submit">Generate</button>
</form>
