
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;  
}

body{
    background-color: #202124;
}
main{
    margin-top: 20vh;
    display: flex;
  
    flex-direction: column;
    align-items: center;
}
main >div{
    margin: 15px;
}
main h1{
    color: white;
    font-size: 3em;
    
}
main h1 span{
    color: #e54040;
}