<%- include("../includes/head") %>

<link rel="stylesheet" href="/css/main.css">
</head>
<body>
  
    <main>
        <div>
            <h1>Download <span>Music</span>.AI</h1>
        </div>
        <div>
            <%- include("../includes/searchBox") %>
        </div>
        <div>
            <h4>Note:Add the author name for better result</h4>
        </div>
    </main>

    
    <%if(error){%>
        <script>alert("<%=error%>")</script>
            <%}%>
    <%- include("../includes/foot") %>
