<%- include("../includes/head") %>

   <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    
    <main>
        <div>
            <h1>Download <span>Music</span></h1>
        </div>
        <div>
            <%- include("../includes/searchbox") %>
        </div>
    </main>
    <%- include("../includes/foot") %>
